<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-ad-admob-mopub"
    version="1.0.23">
	
    <name>Cordova Admob-MoPub Mediation Plugin</name>
    <description>Cordova Admob-MoPub Mediation Plugin</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>		
    <license>MIT</license>
    <keywords>cordova,plugin,ad,admob,monetisation,mopub,mediation</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-ad-admob</repo>
    <issue>https://github.com/cranberrygame/cordova-plugin-ad-admob/issues</issue> 	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
	
    <platform name="android">
		<source-file src="src/android/libAdapterSDKMoPub.jar" target-dir="libs" />
		
        <!-- dependency -->
        <dependency id="cordova-plugin-ad-mopub" url="https://github.com/cranberrygame/cordova-plugin-ad-mopub" />
    </platform>
		
    <platform name="ios">
		<source-file src="src/ios/libAdapterSDKMoPub.a" framework="true" />
		
		<!-- dependency -->
        <dependency id="cordova-plugin-ad-mopub" url="https://github.com/cranberrygame/cordova-plugin-ad-mopub" />
    </platform>
</plugin>
